{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
            Hey there, fellow tech enthusiasts! Welcome to my virtual tech haven.
            I'm a second-year computer science student, and this blog is where I spill
            the digital tea on my journey through the ever-evolving world of code and creativity
        </p>
        <p>
          But this blog isn't just about the 1s and 0s. It's a storytelling hub, a place where I unwrap the highs,
            lows, and in-betweens of my tech adventures. From navigating the intricacies of project management during
            my first hackathon to exploring the wild terrain of personal coding projects, I'm here to share the lessons
            , the wins, and maybe a tech-related meme or two.
        </p>
        <p>
          So, buckle up for a ride through the digital wilderness with me. This blog is a glimpse into my tech-filled
            days, where each line of code is a story waiting to be told. Let's embark on this journey together,
            exploring the tech universe one blog post at a time! 🚀✨
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
